name: macOS

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-macOS:
    
    runs-on: macos-latest
    steps:
    - uses: fwal/setup-swift@v1
    - uses: actions/checkout@v2
    - name: Build
      run: swift build
